<div class="app">
  <div class="titlePane">
    <div class="right">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon class="icon-size">menu</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/about-songs']">
        <mat-icon>music_note</mat-icon>
        <span>Über die Songs</span>
      </button>
      <button mat-menu-item [routerLink]="['/about-band']">
        <mat-icon>emoji_people</mat-icon>
        <span>Über die Band</span>
      </button>
      <button mat-menu-item>
        <mat-icon>email</mat-icon>
        <span><a href="mailto:band@unobtainium.li">Kontakt</a></span>
      </button>
      <button mat-menu-item [routerLink]="['/song-list']">
        <mat-icon>groups</mat-icon>
        <span>Band-Bereich</span>
      </button>
    </mat-menu>
    <div class="flex flex-col items-center text-center">
      <span class="title" routerLink="/">UNOBTAINIUM</span>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
