
<h1 mat-dialog-title class="title-row">
    Aufgabe anpassen
</h1>

<form [formGroup]="form"  (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <mat-form-field class="select-input" appearance="fill">
      <mat-label>Lied</mat-label>
      <mat-select [formControlName]="fcSong"
        [compareWith]="compareSongFolders">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let aSong of songFolders$ | async" [value]="aSong">
          {{aSong.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="description" appearance="fill">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput [formControlName]="fcDescription"></textarea>
    </mat-form-field>
    <mat-form-field class="select-input" appearance="fill">
      <mat-label>Verantwortliche</mat-label>
      <mat-select [formControlName]="fcResponsible" [compareWith]="bandMemberComperator" multiple>
        <mat-option *ngFor="let member of bandMembers" [value]="member">{{member.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button mat-button (click)="cancel()">Abbrechen</button>
      <button mat-button type="submit" [disabled]="form.invalid" cdkFocusInitial>Speichern</button>
  </mat-dialog-actions>
</form>

